<div id="page-contents">
  <div class="container">
    <div class="row">
      <%= render 'layouts/nav' %>
      <div class="col-md-7">
        <div class="white-box">
          <h3 class="box-title">Edit</h3>
            <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>
